:root {
  --first-nav-color: #999;
}

/* Flex classes */

.flex-inverse,
.flex-between {
  display: flex;
}

.flex-inverse {
  flex-direction: column;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

/* spacers */



.hide {
  display: none;
}

/* Navbar Style */

.first-nav-container {
  color: var(--first-nav-color);
  background-color: black;
  padding: 0.5em 1em;
}

.first-nav-container li {
  display: inline-block;
  margin-right: 1em;
}

.first-nav-container li.except {
  margin-right: 0;
}

