:root {
  --first-nav-color: #999;
  --first-nav-font-size: 0.8rem;
  --second-nav-bg-color: #888;
  --second-nav-font-size: 0.9rem;
  --header-yellow: #fd3;
}

/* flex classes */

.flex-inverse,
.flex-between,
.flex-center {
  display: flex;
}

.flex-inverse {
  flex-direction: column;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* spacers */



.hide {
  display: none;
}

/* navbar */

.first-nav-container {
  color: var(--first-nav-color);
  background-color: black;
  padding: 0.5em 1em;
  font-size: var(--first-nav-font-size);
}

.first-nav-container li.except {
  margin-right: 0;
}

.first-nav-container .add {
  padding-left: 0.2em;
}

nav li {
  display: inline-block;
  margin-right: 1em;
}

.second-nav-container {
  padding: 0 0 0 1em;
  text-transform: uppercase;
  color: var(--second-nav-bg-color);
  font-size: var(--second-nav-font-size);
  height: 45px;
}

.fa-rotate {
  transform: rotate(90deg);
}

.search {
  width: 3em;
  height: 100%;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}

.arrow-small {
  vertical-align: middle;
  font-size: 0.5rem;
}

.header-popup-container {
  padding: 0.5em 1em;
  background-color: var(--header-yellow);
}

.grid-header-nav {
  display: grid;
  grid-template-columns: 100px 1fr;
  border: 1px solid red;
}

.header-logo {
  border: 1px solid green;
}

.header-container {
  border: 1px solid blue;
}




@media all and (max-width: 850px) {
  
  .grid-header-nav {
    display: none;
  }

  .mobile-header-container {
    display: flex;
    justify-content: space-between;
  }

  .search, .menu-btn {
    display: inline-block;
    text-align: center;
    padding: 15px;
  }
}